body{
    margin: 0px;
    padding: 0px;
    background:#202124;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background:rgb(87, 179, 168);
}
.logo{
    width: 100%;
    float: left;
    
    
}
.left{
    float:left;
    width:70%;
    height:70%;
    border-radius:24px;
    
}
.right{
    float:right;
    width:30%;
    height:auto;
    border-radius:24px;
    
}
.left-button{
    float:none;
    width:70%;
    height: none;
    border-radius:45px;
    
}
.logoimg{
    margin-top: 5%;
    margin-right: 5%;
    float:inherit;

}
.titlle{
    float:inherit;
    margin-left: 15%;
}
.text-input{
    float: left;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    color:#0A3871;
    font-size:20px;
    border:none;
    outline:none;
    background:#f3f5fc;
}
.imgmuneco{
    margin-left:50%;
    margin-top: 5%;
    width: 30%;
    height: auto;
    padding: 30px;

}
#texto{
    margin-left: 7%;
    margin-right:5%;
}
#texto2{
    float: left;
    margin-left:10% ;
    color:#0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: none;
}



